{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h1>Investors Relations</h1><br><br>
    <p>We are a Brazilian company and one of the website builders in the world (source: my head),
        primarily engaged in design and implement the bes solutions.
        We have the expertise on both front and back-end from years coding an uncountable number of projects,
        becoming world leaders in this segment..</p>
    <span>Learn more about our company, its results and information for shareholders, analysts and potential investors.</span><br><br><br>
    <span>~~ imagine a section here with some interactive panels containing different information about the company numbers  ~~</span>
</div>
{% endblock %}