{% extends 'base.html' %}

{% block body %}
<br>
<div class="container mt-4">
    <h1>Want to join our team?</h1><br><br>
    <main class="containerdio">
        <div class="card-containerdio">
            <div class="card-textdio">
                Ullamcorper sit amet risus nullam eget felis eget. Egestas erat imperdiet sed euismod. Non diam phasellus vestibulum lorem sed risus ultricies. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Purus non enim praesent elementum. Pretium lectus quam id leo in vitae turpis massa. Mattis rhoncus urna neque viverra justo. Porttitor leo a diam sollicitudin. Quam quisque id diam vel. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis.

                Elementum sagittis vitae et leo duis ut diam quam nulla. Maecenas sed enim ut sem viverra aliquet. Rhoncus urna neque viverra justo nec ultrices dui sapien. Justo nec ultrices dui sapien eget mi. Neque laoreet suspendisse interdum consectetur libero. Scelerisque eu ultrices vitae auctor. Arcu dictum varius duis at consectetur lorem donec massa. Id donec ultrices tincidunt arcu non sodales neque.</div>
            <div class="carddio">
                <div class="card-wrapperdio">
                    <h2>Our Culture</h2>
                    <p>Veja meu portifólio</p>
                </div>
            </div>
        </div>



        <div class="card-containerdio">
            <div class="carddio">
                <div class="card-wrapperdio">
                    <h2>Benefits</h2>
                    <p>Siga meu perfil profissional</p>
                </div>
            </div>
            <div class="card-textdio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet est placerat in egestas. In aliquam sem fringilla ut morbi tincidunt augue. Pretium lectus quam id leo in vitae turpis massa. Mattis rhoncus urna neque viverra justo. Porttitor leo a diam sollicitudin. Quam quisque id diam vel. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis.

                Elementum sagittis vitae et leo duis ut diam quam nulla. Maecenas sed enim ut sem viverra aliquet. Rhoncus urna neque viverra justo nec ultrices dui sapien. Justo nec ultrices dui sapien eget mi. Scelerisque eu ultrices vitae auctor.</div>

        </div>
</div>
{% endblock %}