{% extends 'base.html' %}

{% block body %}
    <div class="container mt-4">
        <h3>Members list:</h3><br>
        {% for user in lista_usuarios %}
            <hr>
            <div class="container mt-2 d-flex justify-content-center">
                <div class="card-users p-4">
                    <div class="d-flex align-items-center">
                        <div class="image pe-3">
                        <img src="{{ url_for('static', filename='profile_pictures/{}'.format(user.profile_pic)) }}" class="rounded foto">
                    </div>
                    <div class="ml-3 w-100">
                       <h2 class="mb-1 mt-0">{{ user.username }}</h2>
                       <h5 class="mb-0 mt-0">{{ user.fullname }}</h5>

                       <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column">
                            <span class="cursos">Cursos</span>
                            {% if ('Não informado' in user.cursos) or (user.cursos == '') %}
                                <span class="ncursos">0</span>
                            {% else %}
                                <span class="ncursos">{{ user.cursos.count(';')+1 }}</span>
                            {% endif %}

                        </div>

                        <div class="d-flex flex-column">
                            <span class="posts">Posts</span>
                            <span class="nposts">{{ user.count_posts() }}</span>
                        </div>
                       </div>
                       <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-primary w-100 me-1 ms-1">Follow</button>
                       </div>
                    </div>
                    </div>
                </div>
             </div>

<div class="container mt-2 d-flex justify-content-center"><strong>Cursos</strong></div>
<div class="container mt-2 d-flex justify-content-center">
    {% if user.cursos != 'Não informado' %}
        {% for curso in user.cursos.split(';') %}
            {% if user.cursos != '' %}
                <button type="button" class="btn btn-success me-2" disabled>{{ curso }}</button>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>(Não informado)</p>
    {% endif %}

</div>
{% endfor %}
</div>
<br>
    <img src="/static/bug.svg " class='bug svg lamp' title="Well done! One bug found and counting..." alt="code_logo">

{% endblock %}